[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
colorama = "~=0.4.6"
halo = "~=0.0.31"
jinja2 = "~=3.1.4"
log-symbols = "~=0.0.14"
markupsafe = "~=2.1.5"
spinners = "~=0.0.24"
termcolor = "~=2.4.0"
requests = "*"

[dev-packages]
black = "*"
isort = "*"

[requires]
python_version = "3.12"
